:root{
    --main-color: rgba(165, 67, 67, 0.734);
    --main-color-light: rgba(184, 25, 25, 0.5);

    --accent-color: rgb(115, 17, 8);
    --accent-color-light: rgba(255, 234, 167,0.5);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background-image:linear-gradient(to bottom right, var(--main-color),var(--accent-color));
    background-repeat:no-repeat;
    min-height: 100vh;
}
.main-title{
    font-size:2.5rem;
    color: white;
}

.header,.gorev-form{
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item{
    padding: 0.5rem;
    font-size:1.5rem;
    border:none;
    background-color: white;
    outline:none;
}

.btn-gorev-ekle{
    color:var(--accent-color);
    cursor:pointer;
}

/* btn-gorev-ekle butonunun uzerine gelindiginde : */
.btn-gorev-ekle:hover{
    color:white;
    background-color: var(--accent-color);
}

.gorev-listesi{
    list-style: none;
    min-width: 40%; /* ekran buyuyup kuculse de ekranin yuzde 40'ini kaplasin */
    
}

.gorev-item{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: .5rem;
    background-color:white;
    transition:.5s ease-in-out;
}

.gorev-tanim{
    flex:1; /* o bolgede yayilabildigin kadar yayil demek.Markete git ile icon'unu ayirdik */ 
    padding: 1rem;
}

.gorev-btn{
    background-color: var(--accent-color-light);
    outline:none;
    border:none;
    font-size:1.2rem;
    padding:1rem;
}

.gorev-btn-sil{
    background-color:rgb(228, 33, 33) ;
}

.gorev-tamamlandi{
    text-decoration:line-through;
    opacity:0.5;
}

.fas{ /*fas hem silme hem de tik icin ortak class adi. */
    pointer-events:none; /*butonlarin tetiklenmesini saglar */
}

.kaybol{
    transform:scale(0);
}